.page-template-page-fullscreen-gallery-php {
	.camera_wrap {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: 100% !important;
		
		.cameraContent {
			bottom: 0;
			display: none;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
		
		.cameraSlide {
			background: $body-bg;
		}
		
		.camera_prev {
			right: 50%;
			left: auto;
			margin-right: 0.75em;
		}
		.camera_next {
			left: 50%;
			margin-left: 0.75em;
		}
		.camera_prev, .camera_next, .camera_commands {
			top: 0;			
			margin-top: 1.5em;
			border-radius: 100%;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
		}
		
		.camera_pag {
			position: absolute;
			bottom: 0;
			width: 100%;			
			
			.camera_pag_ul {
				text-align: center;
				
				li {
					background: none;
					border: 2px solid white;
					width: 12px;
					height: 12px;
					box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
					
					&.cameracurrent {
						background: $primary-color;
					}
					
					span {
						display: none;
					}
				}
			}
		}
	}
	
	.camera_command_wrap {
		position: absolute;
		bottom: 0;
	}
	
	.camera_visThumb img{
		max-width: 100%;
	}
	
	.camera_thumbs_cont {
		background: none;
		box-shadow: none;
	}
}

