.content-header, .row.content-header {
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid $dark-grey;
}

.article-header {
	margin-bottom: 1.5em;
}

article {
	border-color: $dark-grey;
	border-style: dashed;
	border-width: 0 0 1px;
	margin-bottom: 1.5em;
	
	.excerpt-read-more {		
		overflow: hidden;
		display: block;
		float: right;
		
		/*display: inline-block;*/
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1.5;
		visibility: hidden;
		width: 1em;
		height: 1.5em;
		
		&:before {
		  content: "";
		  visibility: visible;
		}
	}
	
	

	aside {
		text-align: center;
	}
	
	.article-footer {
		margin: 0 0 1.5em;
	}
}

.post-date {
	border-radius: 100%;
	background: $primary-color;
	color: #fff;
	
	
	margin-bottom: $paragraph-margin-bottom;
	
	width: 70px;
	height: 70px;
	padding: 5px 10px;
	float: left;
	
	.month {
	}
	.day {
	}
	.year {
	}
}

.post-categories, .post-categories li {
	margin: 0;
	font-size: $xs-font-size;
}

.comments-count {
	i:before {
		content: "";
	}
	
	a {
		color: inherit;
		&:hover {
			color: $primary-color;
		}
	}
}