@import "variables";

body {
	float: left;
	width: 100%;
}

#container {
	background: $light-grey;
	border-right: 1px solid $dark-grey;
	//padding-left: $sidenav-width;
	

	
	.single & {
		padding-top: 1.5em;
	}
}

.category-blog #container {
	//padding-left: $sidenav-width;
}


@media #{$large-up} {
	#container {
		padding-left: $sidenav-width;
	}
}